<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobotomy News</title>
</head>
<body>
    <nav>
        <header>
            <a href="/">LobotomyDaily</a>
            <form>
                <input type="search" placeholder="Search">
                <button type="submit">🔍</button>
            </form>
            <a href="{% url 'register' %}">Log in →</a>
        </header>
        <div>
            <a href="#">Trends</a>
            <a href="#">Collections</a>
            <a href="#">Subscribes</a>
            <a href="#">Rubrics ▼</a>
        </div>
    </nav>
    <h1>Lobotomy News</h1>
</body>
</html>
