<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация — Lobotomy News</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form>
        <div>
            <label>
                Email:
                <input type="email" name="email">
            </label>
        </div>
        <div>
            <label>
                Пароль:
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <label>
                Повторите пароль:
                <input type="password" name="password2">
            </label>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
